//==================COLORS==================//
$brand-color: #0082F4;
$primary-text-color: #000000;
$secondary-text-color: #FFFFFF;

//==================TYPOGRAPHY==================//
$primary-font-family: 'Roboto';

$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-700: 700;

$body-text-size: 2rem;
$body-text-line-height: 1.5;

$button-text-size: 2rem;
$button-line-height: 1.172;

//==================WIDTH====================//
$container-max-width: 1200px;