//==================COLORS==================//
$brand-color: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
$primary-text-color: #83869A;
$secondary-text-color: #13183F;
$white-color: #FFFFFF;
$linear-gradient: linear-gradient(180deg, #4851FF 0%, #F02AA6 99.92%);

$primary-font-family: 'Plus Jakarta Sans';

//==================TYPOGRAPHY==================//
$font-weight-500: 500;
$font-weight-700: 700;
$font-weight-800: 800;

$body-text-size: 1.8rem;
$body-text-line-height: 1.56;

//==================WIDTH====================//
$container-max-width: 1110px;