/*==========GLOBAL STYLES==========*/

*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   height: 100%;
   scroll-behavior: smooth;
}

body {
   height: 100%;
   display: flex;
   flex-direction: column;
}

main {
   flex-grow: 1;
}

a {
   text-decoration: none;
   color: inherit;
   font-size: inherit;
   display: inline-block;
}

ul,
ol {
   list-style: none;
   padding: 0;
   margin: 0;
}

button,
input {
   cursor: pointer;
   border: none;
   outline: none;

   &:focus {
      outline: none;
   }
}

img {
   display: flex;
   object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
}

address {
   font-style: normal
}