@import '../abstract/variables';
@import '../abstract/mixins';
@import '../abstract/functions';

.services {
   padding: 25rem 0 14rem 0;

   &__list {
      display: flex;
      gap: 3rem;
      row-gap: 8rem;
      flex-wrap: wrap;
      justify-content: center;
   }

   &__item--selected {
      background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
      border-radius: 15px;
      padding: 6.4rem 3.2rem 3.2rem 3.2rem;

      &-title {
         max-width: 286px;
         width: 100%;
         color: $white-color;
         font-weight: 3.2rem;
         line-height: 1.25;
      }
   }

   &__item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 6.4rem 3.2rem 4rem;
      background: #FFFFFF;
      box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
      border-radius: 15px;
      flex: 0 0 350px;
      position: relative;

      &::before {
         display: inline-block;
         position: absolute;
         top: -28px;
         left: 32px;
         content: "";
         width: 56px;
         height: 56px;
         border-radius: 50%;
         background-color: #FF6F48;
         background-image: url('../images/Running.svg'), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
         background-repeat: no-repeat;
         background-position: center;

      }

      &:nth-child(3)::before {
         background-image: url('../images/portrait-icon.svg'), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
      }

      &:nth-child(4)::before {
         background-image: url('../images/Camera.svg'), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
      }

      &:nth-child(5)::before {
         background-image: url('../images/points-icon.svg'), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
      }

      &:nth-child(6)::before {
         background-image: url('../images/backet_icon.svg'), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
      }


      &-title {
         font-weight: $font-weight-800;
         font-size: 2.4rem;
         line-height: 1.2;
         color: $secondary-text-color;
         margin-bottom: 2.4rem;
      }

      &-description {
         margin-bottom: 2.4rem
      }

      &-link {
         font-weight: $font-weight-700;
         font-size: 1.8rem;
         line-height: 1.56;
         color: #F74780;
         transition: all 0.3s ease;

         &:hover {
            color: #FFA7C3;
         }

      }
   }


}

@media only screen and (max-width:991.98px) {
   .services {
      padding: 21rem 0 8.6rem 0;

      &__list {
         gap: 1rem;
         row-gap: 5.6rem;

      }

      &__item--selected {
         padding: 5.6rem 2.1rem 3.2rem 3.2rem;

         &-title {
            font-size: 2.4rem;
            line-height: 1.33;

         }
      }

      &__item {
         padding: 5.6rem 2.2rem 0 3.2rem;
         flex: 0 340px;

         &-title {
            font-size: 2rem;
            line-height: 1.2;
            margin-bottom: 1.6rem;
         }

         &-link {
            margin-bottom: 3.2rem;
         }
      }
   }
}

@media only screen and (max-width:767.98px) {
   .services {
      padding: 0 0 8rem 0;

      &__list {
         row-gap: 4rem;
      }

      &__item--selected {
         padding-top: 2.4rem;
      }

   }
}